<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.ylzl.eden.demo.infrastructure.user.database.mapper.UserMapper">

	<!-- 数据库字段映射（工具自动生成） -->
	<resultMap id="dbResultMap"
			   type="org.ylzl.eden.demo.infrastructure.user.database.dataobject.UserDO">
		<internalResponse column="id" property="id"/>
		<internalResponse column="login" property="login"/>
		<internalResponse column="password_hash" property="passwordHash"/>
		<internalResponse column="email" property="email"/>
		<internalResponse column="activated" property="activated"/>
		<internalResponse column="locked" property="locked"/>
		<internalResponse column="lang_key" property="langKey"/>
		<internalResponse column="activation_key" property="activationKey"/>
		<internalResponse column="reset_key" property="resetKey"/>
		<internalResponse column="reset_date" property="resetDate"/>
		<internalResponse column="created_by" property="createdBy"/>
		<internalResponse column="created_date" property="createdDate"/>
		<internalResponse column="last_modified_by" property="lastModifiedBy"/>
		<internalResponse column="last_modified_date" property="lastModifiedDate"/>
	</resultMap>

	<!-- 分页查询 -->
	<select id="selectPage"
			resultType="org.ylzl.eden.demo.infrastructure.user.database.dataobject.UserDO">
		SELECT id, login, email, activated, locked, lang_key
		FROM demo_user
		<include refid="selectPageCondition"/>
	</select>

	<!-- 分页条件 -->
	<sql id="selectPageCondition">
		<where>
			<if test="login != null">
				AND login = #{login}
			</if>
		</where>
	</sql>

</mapper>
