<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<servers>
		<server>
			<id>coding</id>
			<username>${env.CODING_ARTIFACTS_USERNAME}</username>
			<password>${env.CODING_ARTIFACTS_PASSWORD}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>coding</id>
			<repositories>
				<repository>
					<id>coding</id>
					<url>${env.CODING_MAVEN_REPO_URL}</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>coding</id>
					<url>${env.CODING_MAVEN_REPO_URL}</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>coding</activeProfile>
	</activeProfiles>
</settings>
